
.tools-module-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tools-module-title {
    margin: 0 0 12px;
    color: var(--primary-color);
  }

  .tools-module-collection{

  }


}

.tools-module-desc {
  margin: 0 0 12px;
  color: var(--primary-color);
  opacity: 0.8;
}
