.tools-actions-bar {
  display: flex;
  align-items: center;
  height: 32px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;
  padding: 0 6px;
}

.tools-actions-bar-item {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
  &:hover {
    background-color: var(--icon-hover-color);
  }
}
