.editable-input-input {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 10% 3px;
    font-size: 16px;
    text-align: center;
    text-transform: lowercase;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 5px;
    outline: none;
    white-space: normal;
    overflow: hidden;

  }
  .tools-load{
    display: 'flex';
    justify-content: center;
   align-items: center;
     height: 200px
  }
