.tools-temperature-converter{ 
  font-size: 30px;
  font-family: monospace;
  width:800px;
  height: fit-content;
 background-color: #ffffff;
 margin: 20px auto;
 padding: 32px;

}
.tools-tem-container {
 width: 100%;
}

.tools-tem-addon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-weight: bold;
}

.tools-tem-field {
  padding: 8px 16px;
  border-radius: 4px;

}
.tools-tem-field:hover,
.tools-tem-field:focus {
  border-color: var(--primary-color);
  outline: none;
}


@media (max-width: 800px) {
  .tools-temperature-converter {
    padding: 16px;
  }
  .tools-tem-field {
    width: calc(100% - 100px); 
  }
}
input[type='number'] {
  font-size: 18px;
  color: #333;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}