.color-picker {
    box-shadow: null !important;
  }
  
  .color-hold {
    width: 232px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }