/* 侧边栏 */
.tools-sidebar {
  width: 200px;
  height: 100%;
  padding: 16px;
}

.tools-sidebar-menu-title {
  font-size: 15px;
  color: rgba(74, 89, 109, 0.7);
}
.tools-sidebar-menu {
  list-style: none;
  padding: 0;
}

.tools-sidebar-item {
  list-style: none;
  font-size: 14px;
  padding: 0 20px;
  list-style: none;
  cursor: pointer;
  height: 38px;
  line-height: 38px;
  border-radius: 8px;
  color: rgb(74, 89, 109);
}

.tools-sidebar-item:hover {
  background-color: #f0f4f9;
}

.tools-sidebar-item-active {
  background-color: #f0f4f9;
}
